<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Generator</title>
</head>
<body>
    <h1>PDF Generator</h1>
    <form action="makeDocs/badges.py" method="post">
        <textarea name="classes" rows="10" cols="50"></textarea><br>
        <button type="submit">Generate PDF</button>
    </form>
    <button id ="returnHomeButton">return home</button>
    
    <!-- Include the JavaScript file -->
    <script src="static/script.js"></script>
</body>
</html>
