<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Certificate</title>
</head>
<body>
    <h1>Download Your Certificate</h1>
    <p>Copy and paste the URL into your browser or click the link to download the file:</p>
    <p><a href="{{ url }}">{{ url }}</a></p>
    
    <br>

    <button id="certificatesButton">Go back to certificates </button>
    <br>
    <button id="returnHomeButton">Go Home</button>

     <!-- Include the JavaScript file -->
     <script src="static/script.js"></script>
</body>
</html>
